<div class="home-header">
    {{#if search}}
    <h1>You searched for: <span>{{search}} </span> </h1>
    {{#if commentsQty}}
        <p>You found <span>{{commentsQty}} comments</span></p>
    {{else}}
    <p>Comment not found using <span>{{search}}</span></p>

    {{/if}}
    {{else}}
    <h1>Find some <span> comments:</span></h1>
    {{/if}}
    <form action="/" method="GET">
        <input type="text" name="search" placeholder="Search something">
        <input type="submit" value="Search">
    </form>

    <div class="order-container">
        <span>Order for:</span>
        <form action="/" method="GET">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">
            <button type="submit"><i class="bi bi-arrow up">New</i></button>
        </form>
        <form action="/" method="GET">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">
            <button type="submit"><i class="bi bi-arrow up">Old</i></button>
        </form>
        <a href="/">Clear</a>
    </div>
</div>

<div class="comments-container">
    {{#each comments}}
    <figure>
        <blockquote>
            "{{this.title}}"
        </blockquote>
        <figcaption>from <span>{{this.User.name}}</span></figcaption>
    </figure>
    {{/each}}


</div>